:root {
  --primary: #4d4dff;
  --dark-purple: #2d2dc5;
  --dark-blue: #3655b3;
  --blue: #a6bcff;
  --light-blue: #d3deff;
  --grey: #aaa6a6;
  --light-grey: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: var(--light-grey);
}